<launch>\

    <arg name="use_octomap"                       default="true"/>
    <arg name="use_moveit"                        default="true"/>
    <arg name="use_artag"                         default="true"/>
    <arg name="use_actual"                        default="false"/>


  <group unless="$(arg use_actual)">
    <include file="$(find nav_custom)/launch/xslocobot_nav_sim_rtabmap.launch">
      <arg name="use_octomap"                       value="$(arg use_octomap)"/>
      <arg name="use_moveit"                        value="$(arg use_moveit)"/>
      <arg name="use_artag"                         value="$(arg use_artag)"/>
      <arg name="world_name"                         value="$(find gazebo_custom)/worlds/xslocobot_gazebo.world"/>
    </include>
  </group>

  <group if="$(arg use_actual)">
    <include file="$(find nav_custom)/launch/xslocobot_nav.launch">
      <arg name="use_octomap"                       value="$(arg use_octomap)"/>
      <arg name="use_moveit"                        value="$(arg use_moveit)"/>
      <arg name="use_artag"                         value="$(arg use_artag)"/>
    </include>
  </group>

    <node
      pkg="core"
      type="arm_controller.py"
      name="arm_controller"
      output="screen">
    </node>

    <node
      pkg="core"
      type="gripper_controller.py"
      name="gripper_controller"
      output="screen">
    </node>

    <node
      pkg="core"
      type="communication_manager"
      name="communication_manager"
      output="screen">
    </node>

    <node
      pkg="core"
      type="base_controller"
      name="base_controller"
      output="screen">
    </node>
    
</launch>


