
# ignore vscode
*.vscode
/gazebo_worlds
#ignore catkin cache files
/build
/devel
/logs
#ignore .csv files
#*.csv
#ignore autosave matlab
*.asv
#ignore commands for installing stomp (under working)
.catkin_tools/
