[submodule "src/stomp_ros"]
	path = src/stomp_ros
	url = https://github.com/ros-industrial/stomp_ros.git
[submodule "src/stomp"]
	path = src/stomp
	url = https://github.com/ros-industrial/stomp.git
[submodule "src/ros_industrial_cmake_boilerplate"]
	path = src/ros_industrial_cmake_boilerplate
	url = https://github.com/ros-industrial/ros_industrial_cmake_boilerplate.git
[submodule "src/m-explore"]
	path = src/m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "src/moveit_resources"]
	path = src/moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
[submodule "src/geometric_shapes"]
	path = src/geometric_shapes
	url = https://github.com/ros-planning/geometric_shapes.git
[submodule "src/srdfdom"]
	path = src/srdfdom
	url = https://github.com/ros-planning/srdfdom
[submodule "src/moveit"]
	path = src/moveit
	url = https://github.com/ros-planning/moveit.git
[submodule "src/rviz_visual_tools"]
	path = src/rviz_visual_tools
	url = https://github.com/PickNikRobotics/rviz_visual_tools
[submodule "src/moveit_visual_tools"]
	path = src/moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools.git
[submodule "src/moveit_tutorials"]
	path = src/moveit_tutorials
	url = https://github.com/ros-planning/moveit_tutorials.git
[submodule "src/octomap"]
	path = src/octomap
	url = https://github.com/OctoMap/octomap.git
