<launch>

  <arg name="robot_model"                       default="locobot_wx250s"/>
  <arg name="robot_name"                        default="locobot"/>
  <arg name="show_lidar"                        default="false"/>>
  <arg name="external_srdf_loc"                 default=""/>
  <arg name="use_fake"                          default="false"/>
  <arg name="dof"                               default="5"/>
  <arg name="use_camera"                        default="false"/>
  <arg name="use_moveit_rviz"                   default="false"/>
  <arg name="pipeline"                          default="ompl"/>
  <arg name="fake_execution"                    default="false"/>
  <arg name="publish_monitored_planning_scene"  default="true" />
  
  <include file="$(find moveit_custom)/launch/move_group.launch" ns="$(arg robot_name)">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="show_lidar"                        value="$(arg show_lidar)"/>
    <arg name="external_srdf_loc"                 value="$(arg external_srdf_loc)"/>
    <arg name="dof"                               value="$(arg dof)"/>
    <arg name="use_camera"                        value="$(arg use_camera)"/>
    <arg name="fake_execution"                    value="$(arg use_fake)"/>
    <arg name="publish_monitored_planning_scene"  value="true" />
    <arg name="pipeline"                          value="$(arg pipeline)"/>
  </include>

  <include if="$(arg use_moveit_rviz)" file="$(find moveit_custom)/launch/moveit_rviz.launch" ns="$(arg robot_name)">
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="config"                            value="true"/>
  </include>

</launch>
