<launch>

	<arg name="cam_image_topic" default="/locobot/camera/color/image_raw" />
	<arg name="cam_info_topic"  default="/locobot/camera/color/camera_info" />
    <arg name="use_actual"      default="false"/>

	<group if="$(arg use_actual)">
		<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
			<rosparam command="load" file="$(find sensor_manager)/config/artag_sensor.yaml" />
			<remap from="camera_image"  to="$(arg cam_image_topic)" />
	        <remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
		<node name="ar_track_alvar_2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" ns="arm">
			<rosparam command="load" file="$(find sensor_manager)/config/artag_sensor_sim_arm.yaml" />
			<remap from="camera_image"  to="$(arg cam_image_topic)" />
			<remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
	</group>

	<group unless="$(arg use_actual)">	
		<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
			<rosparam command="load" file="$(find sensor_manager)/config/artag_sensor_sim.yaml" />
			<remap from="camera_image"  to="$(arg cam_image_topic)" />
			<remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
		<node name="ar_track_alvar_2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" ns="arm">
			<rosparam command="load" file="$(find sensor_manager)/config/artag_sensor_sim_arm.yaml" />
			<remap from="camera_image"  to="$(arg cam_image_topic)" />
			<remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
	</group>	
		

	
</launch>
